<script>
export default {
  props: {
    data: {
      type: Object,
      required: true,
      default: null,
    },
  },
};
</script>

<template>
  <section class="table-section">
    <SlpContainer :aria-label="data.table_label">
      <div class="table">
        <div
          v-for="category in data.main_table"
          :key="category.stages[0].name"
          :class="`column ${category.header ? 'has-header' : ''}`"
        >
          <div v-if="category.header" class="category-header">
            <SlpTypography tag="h2" variant="heading5-bold">{{
              category.header
            }}</SlpTypography>
            <SlpTypography v-if="category.subtitle" tag="p" variant="body2">{{
              category.subtitle
            }}</SlpTypography>
          </div>
          <div class="sub-column-wrapper">
            <div
              v-for="stage in category.stages"
              :key="stage.name"
              class="sub-column"
            >
              <div
                :class="`stage-name ${stage.name == 'Govern' ? 'last' : ''}`"
              >
                <a
                  :href="`https://about.gitlab.com/direction/${stage.name.toLowerCase()}/`"
                  :data-ga-name="`${stage.name} direction page`"
                  data-ga-location="features table"
                >
                  {{ stage.name }}
                </a>
              </div>
              <div class="features">
                <span
                  v-for="feature in stage.features"
                  :key="feature.name"
                  :aria-describedby="`${feature.key}-feature`"
                >
                  <a
                    v-if="feature.link"
                    :href="feature.link"
                    :data-ga-name="feature.name"
                    data-ga-location="feature table"
                    :class="feature.key"
                  >
                    {{ feature.name }}
                  </a>
                  <SlpTypography
                    v-else
                    tag="p"
                    :class="feature.key"
                    variant="body3-bold"
                  >
                    {{ feature.name }}
                  </SlpTypography>
                </span>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="footer">
        <div class="manage-container">
          <a
            class="stage-name manage"
            href="https://about.gitlab.com/direction/manage/"
            data-ga-name="manage direction page"
            data-ga-location="feature table"
            >Manage</a
          >
        </div>

        <div class="manage-features">
          <div>
            <span
              v-for="manageFeature in data.manage_table.mature"
              :key="manageFeature.title"
            >
              <a
                v-if="manageFeature.link"
                :href="manageFeature.link"
                aria-describedby="mature-feature"
                class="mature"
                :data-ga-name="manageFeature.title"
                data-ga-location="feature table"
              >
                {{ manageFeature.title }}
              </a>
              <SlpTypography
                v-else
                aria-describedby="mature-feature"
                class="mature"
                tag="p"
                variant="body2-bold"
              >
                {{ manageFeature.title }}
              </SlpTypography>
            </span>
          </div>
          <div>
            <span
              v-for="manageFeature in data.manage_table.early"
              :key="manageFeature.title"
            >
              <a
                v-if="manageFeature.link"
                :href="manageFeature.link"
                aria-describedby="early-feature"
                class="early"
                :data-ga-name="manageFeature.title"
                data-ga-location="feature table"
              >
                {{ manageFeature.title }}
              </a>
              <SlpTypography
                v-else
                aria-describedby="mature-feature"
                class="early"
                tag="p"
                variant="body2-bold"
              >
                {{ manageFeature.title }}
              </SlpTypography>
            </span>
          </div>
        </div>
        <div class="legend">
          <SlpTypography tag="p" variant="body2">
            Feature maturity key:
          </SlpTypography>
          <div>
            <SlpTypography
              id="mature-feature"
              tag="span"
              class="mature"
              variant="body3-bold"
              >Mature</SlpTypography
            ><SlpTypography
              id="early-feature"
              tag="span"
              class="early"
              variant="body3-bold"
              >Early</SlpTypography
            ><SlpTypography
              id="mature-feature"
              tag="span"
              class="planned"
              variant="body3-bold"
              >Planned</SlpTypography
            >
          </div>
        </div>
      </div>
    </SlpContainer>
  </section>
</template>

<style lang="scss" scoped>
::-webkit-scrollbar {
  display: none;
}
.table-section {
  padding: 0 0 $spacing-64 0;
  background: $color-surface-700;
  color: $color-text-50;
  position: relative;
  width: 100%;
}

.slp-container {
  position: relative;
}

.table {
  @media (max-width: $breakpoint-md) {
    overflow-x: auto;
  }
}

.category-header,
.spacer {
  min-height: 90px;
  padding: $spacing-16;

  @media (max-width: $breakpoint-md) {
    min-height: 109px;
  }
}

.spacer {
  margin-bottom: 1px;
}

.stage-name {
  font-size: $text-body-2-bold;
  line-height: $line-height-body-2-bold;
  font-weight: $font-weight-bold;
  display: block;
  background: $color-surface-50;
  color: $color-surface-700;
  position: relative;
  padding-left: $spacing-16;
  padding-top: $spacing-4;
  padding-bottom: $spacing-4;

  a {
    color: inherit;
    &:hover {
      text-decoration: underline;
    }
  }

  &.manage {
    text-align: center;
    display: block;
  }
}

.table .column .sub-column .stage-name:not(.last):after {
  content: url('data:image/svg+xml, <svg width="16" height="16" viewBox="0 0 16 16" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" clip-rule="evenodd" d="M5.22 2.22a.75.75 0 011.06 0l5.252 5.252a.75.75 0 010 1.06L6.28 13.784a.75.75 0 11-1.06-1.06l4.72-4.723L5.22 3.28a.75.75 0 010-1.06z"></path></svg>');
  position: absolute;
  font-size: 20px;
  top: 6%;
  right: 7%;
  width: 15px;
  z-index: 1;
  padding: $spacing-4;
  transform: scale(1.5);
}

// Very last category's last subcolumn's arrow
.stage-name.last {
  width: 92%;
  &::after {
    color: $color-surface-50;
    border-left: 13px solid;
    border-top: 13px solid transparent;
    border-bottom: 13px solid transparent;
    display: inline-block;
    content: '';
    position: absolute;
    right: -13px;
    top: 50%;
    transform: translateY(-50%);
  }
}
.manage-container {
  height: 27px;
  margin-top: -15px;
  padding: 0;
  position: relative;
  width: 99%;

  &:before {
    color: $color-surface-50;
    border-right: 13px solid;
    border-top: 13px solid transparent;
    border-bottom: 13px solid transparent;
    display: inline-block;
    content: '';
    position: absolute;
    left: -13px;
    top: 50%;
    transform: translateY(-50%);
  }

  &:after {
    color: $color-surface-50;
    border-left: 13px solid;
    border-top: 13px solid transparent;
    border-bottom: 13px solid transparent;
    display: inline-block;
    content: '';
    position: absolute;
    right: -13px;
    top: 50%;
    transform: translateY(-50%);
  }

  a:hover {
    text-decoration: underline;
  }
}

.table,
.column {
  display: flex;
}

.column {
  flex-direction: column;
  min-height: 450px;
  height: 100%;
  &.has-header {
    border: 1px solid $color-surface-50;
    border-radius: 16px 16px 0 0;
  }
}

.sub-column-wrapper {
  display: flex;
}

.features {
  padding: $spacing-16;

  a,
  p {
    display: block;
    font-size: $text-body-3;
    line-height: $line-height-body-3;
    margin-bottom: $spacing-8;
  }

  a:hover {
    text-decoration: underline;
  }
}
.mature,
.early,
.planned {
  font-weight: $font-weight-bold;
}

.mature {
  color: $color-text-50;
}

.early {
  color: #ac9ccb;
}

.planned {
  color: #dc9840;
}

.manage-features {
  margin-top: $spacing-16;
  text-align: center;

  a,
  p {
    display: inline;
  }

  a:hover {
    text-decoration: underline;
  }
}

.legend {
  text-align: right;
  margin-top: $spacing-32;
  display: flex;
  justify-content: flex-end;
  align-items: center;

  @media (max-width: $breakpoint-md) {
    text-align: left;
    justify-content: flex-start;
    flex-direction: column;
    align-items: flex-start;

    p {
      margin-bottom: $spacing-8;
    }
  }

  .mature,
  .early,
  .planned {
    border: 1px solid $color-surface-50;
    border-radius: 8px;
    padding: $spacing-4 $spacing-24;
    font-size: 13px;
  }
  .mature {
    margin-left: $spacing-16;

    @media (max-width: $breakpoint-md) {
      margin-left: 0;
    }
  }
  .early {
    margin: 0 $spacing-16;
  }
}
</style>
