<script lang="ts">
import Vue from 'vue';
import ComparisonSideBySide from './comparison-side-by-side.vue';

export default Vue.extend({
  name: 'ComparisonAnalysis',
  components: {
    ComparisonSideBySide,
  },
  props: {
    templateData: {
      type: Object,
      required: true,
      default: null,
    },
    comparisonData: {
      type: Object,
      required: true,
      default: null,
    },
  },
});
</script>

<template>
  <section>
    <SlpContainer>
      <SlpTypography class="slp-mt-96 title" variant="heading2-bold" tag="h2">{{
        templateData.title
      }}</SlpTypography>
      <div class="slp-p-32 slp-mt-48 card">
        <SlpTypography variant="heading5-bold" tag="p">{{
          templateData.legend.title
        }}</SlpTypography>
        <SlpTypography class="slp-mt-24" variant="body3-bold" tag="p">{{
          templateData.legend.subtitle
        }}</SlpTypography>
        <div
          v-for="capability in templateData.legend.capabilities"
          :key="capability.title"
          class="slp-mt-24 legend"
        >
          <nuxt-img
            class="slp-mr-8 legend__image"
            :src="capability.image"
            loading="lazy"
          />
          <SlpTypography class="slp-mr-24" variant="body3" tag="span">{{
            capability.title
          }}</SlpTypography>
        </div>
        <div
          class="slp-mt-24"
          v-html="$md.render(templateData.legend.more.title)"
        >
          {{ templateData.legend.more.title }}
        </div>
      </div>
      <ComparisonSideBySide :comparison-data="comparisonData.side_by_side" />
    </SlpContainer>
  </section>
</template>

<style scoped lang="scss">
.title {
  @media (max-width: $breakpoint-md) {
    margin-top: 40px;
  }
}

.italics {
  text-decoration: italic;
}

.card {
  border: 1px solid $color-surface-200;
  width: max-content;
  border-radius: $border-radius-4;

  @media (max-width: $breakpoint-md) {
    width: 100%;
  }
}

.legend {
  display: inline-flex;
  align-items: center;

  @media (max-width: $breakpoint-md) {
    display: flex;
  }

  &__image {
    height: $spacing-24;
    width: $spacing-24;
  }

  &-body {
    display: flex;
    align-items: center;
  }
}
</style>
